
.image-one, 
.image-two, 
.image-three{
  width:40px;
  height:40px;
  visibility: hidden;
}

.image-two{
  align-self: center;
}

.visible {
  visibility: visible;
}
.image-container{
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height:100%;
  justify-content: space-between;
}

.player{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  height:90%
}